<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Board</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid" id="nav">
      <a class="navbar-brand" style="font-size:26px" href="#"><b>Task Board</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size:20px">
              <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'tasklistview' %}">Home</a>
                    </li>
                    {% csrf_token %}
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create' %}">Add Task</a>
                    </li>
                    {% endif %}

                    {% if user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="nav justify-content-end" style="font-size:20px">
                    <li class="nav-item">
                        <a class="nav-link" style="color:#D1F2EB" >Welcome, {{user}}</a> 
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" style="color:white" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
</nav>

    <br>
    <div class="container">
        <a class="btn btn-primary" href="{% url 'list-create' %}" role="button">Add a new list</a>
        <a class="btn btn-primary" href="{% url 'create' %}" role="button">Add Task</a>
        {% comment %} <a class="btn btn-primary" href="{% url 'completed-task' %}" role="button">Completed Task</a> {% endcomment %}
    
    {% comment %} <form method='GET'>
      <input type="text" name="search-area" >
      <input type="submit" value="Search">
    </form> {% endcomment %}

      </div>
    <br>
    <br>
    <div class="container">
      <center><h2>Lists of Tasks</h2></center>
        <br>

        <div class="row" id="lists">
            {% for list, tasks in lists_and_tasks %}
            <div class="col-md-4">
                <div class="card" style="width: 22rem; height:26rem;">
                    <div class="card-body">
                        <h3 class="card-title">{{ list.title }}</h3>
                        
                        {% if tasks %}
                        <ul class="list-group">
                            {% for task in tasks %}
                            <li class="list-group-item" draggable="true" ondragstart="drag(event)">
                                {{ task.title }}
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a href="{% url 'task' task.id %}" >View</a>
                                    <a href="{% url 'delete' task.id %}" class="btn-sm" style="color: green; font-weight: bold;">&#10003;</a>

                                  </div>
                            </li>
                            {% endfor %}
                        </ul>
                        
                        {% else %}
                        <p class="empty-task">Empty list</p>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
            {% endfor %}
            <br>
        </div>
    </div>
    <br>
    <br>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
